<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  <link rel="stylesheet" href="../static/styles/login.css" />
  <title>Login · Painel Admin</title>
  <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>
  <section>
    <nav>
      <h2>🔐 Faça o login para acessar o painel</h2>
      <form method="POST">
        {% if messages %}
          {% for message in messages %}
            <div class="mensagem-django">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div>
          <label for="email">📧 E-mail</label>
          <input type="email" name="email" id="email" placeholder="seu@email.com" required autocomplete="email">
        </div>
        <div>
          <label for="password">🔒 Senha</label>
          <input type="password" name="password" id="password" placeholder="••••••••" required autocomplete="current-password">
        </div>
        <button type="submit">Entrar →</button>
      </form>
      <aside>
        <a href="{% url 'index' %}">← Voltar ao início</a>
      </aside>
    </nav>
  </section>
</body>
</html>