{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/dashboard.css">
        <title>Dashboard</title>
    </head>

    <body>
        <section>
            <nav>
                <div>
                    <img src="../static/imagens/icons8_anchor_80px.png" alt="king">
                    <span>Belas Turismo</span>
                    <p>Admin</p>
                </div>

                <ul>
                    <a href="{% url "dashboard" %}">
                        <li>
                            <img src="../static/imagens/icons8_speed_50px.png" alt="dash">
                            <span>Dashboard</span>
                        </li>
                    </a>
                    
                    <a href="{% url "pontos_turisticos" %}">
                        <li>
                            <img src="../static/imagens/icons8_marker_50px.png" alt="Pontos">
                            <span>Pontos turísticos</span>
                        </li>
                    </a>
                    
                    <a href="{% url "usuarios" %}">
                        <li>
                            <img src="../static/imagens/icons8_add_user_group_man_man_24px.png" alt="users">
                            <span>Admin usuários</span>
                        </li>
                    </a>
                </ul>
            </nav>

            <header>
                <aside>
                    <h2>Dashboard</h2>
                    <div>
                        <img src="../static/imagens/icons8_bell_24px.png" alt="cino">
                        <p>Admin</p>
                    </div>
                    <a href="{% url "logout_view" %}">Sair<a/>
                </aside>

                <article>
                    <h1>
                        <img src="" alt="icone">
                        Bem vindo a área de gestão {{user.username}}
                    </h1>

                    <nav>
                        <aside>
                            <span>
                                <img src="../static/imagens/icons8_mark_view_as_non_hidden_40px.png" alt="jsh">
                            </span>
                            <p>12</p>
                            <h4>Pontos Turísticos</h4>
                        </aside>
                    
                        <aside>
                            <span>
                                <img src="../static/imagens/icons8_palace_30px.png" alt="ito">
                            </span>
                            <p>7</p>
                            <h4>Hoteis</h4>
                        </aside>

                        <aside>
                            <span>
                                <img src="../static/imagens/icons8_gallery_30px.png" alt="ima">
                            </span>
                            <p>46</p>
                            <h4>Imagens</h4>
                        </aside>
                    </nav>
                </article>
            </header>
        </section>
    </body>

</html>