{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/styles/pontos_turisticos.css">
    <title>Pontos turísticos</title>
</head>
<body>
    <section>
        <nav>
            <div>
                <img src="../../static/imagens/icons8_anchor_80px.png" alt="king">
                <span>Belas Turismo</span>
                <p>Admin</p>
            </div>

            <ul>
                <a href="{% url "dashboard" %}">
                        <li>
                            <img src="../../static/imagens/icons8_speed_50px.png" alt="dash">
                            <span>Dashboard</span>
                        </li>
                    </a>
                    
                    <a href="{% url "pontos_turisticos" %}">
                        <li>
                            <img src="../../static/imagens/icons8_marker_50px.png" alt="Pontos">
                            <span>Pontos turísticos</span>
                        </li>
                    </a>
                    
                    <a href="{% url "usuarios" %}">
                        <li>
                            <img src="../../static/imagens/icons8_add_user_group_man_man_24px.png" alt="users">
                            <span>Admin usuários</span>
                        </li>
                    </a>
            </ul>
        </nav>
        
        <header>
            <aside>
                <h2>Pontos Turísticos</h2>
                <div>
                    <img src="../../static/imagens/icons8_bell_24px.png" alt="cino">
                    <p>Admin</p>
                </div>
            </aside>

            <article>
                <h1>
                    <img src="" alt="icone">
                    Faça o gerenciamento dos Pontos Turísticos
                </h1>

                <div>
                    <button id="adicionar"> + Adicionar</button>
                </div>
                <!--Pontos turísticos adicionados adicionados via django admin do meu app-->
                <!-- appAdmin/templates/appAdmin/pontos_turisticos.html -->

<h1>Pontos Turísticos e Hotéis</h1>

<div style="display:flex; gap:50px;">

    <!-- FORMULÁRIO -->

    <!-- TABELA -->
    <div style="flex:2;">
        <table border="1" width="100%">
            <tr>
                <th>ID</th>
                <th>Imagem</th>
                <th>Título Ponto</th>
                <th>Imagem Hotel</th>
                <th>Título Hotel</th>
                <th>Ações</th>
            </tr>
            {% for ponto in pontos %}
            <tr>
                <td>{{ ponto.id }}</td>
                <td>
                    {% if ponto.imagem_ponto %}
                        <img src="{{ ponto.imagem_ponto.url }}" width="100">
                    {% endif %}
                </td>
                <td>{{ ponto.titulo_ponto }}</td>

                <td>
                    {% if ponto.imagem_hotel %}
                        <img src="{{ ponto.imagem_hotel.url }}" width="100">
                    {% endif %}
                </td>

                <td>{{ ponto.titulo_hotel }}</td>
                <td>
                    <a href="{% url 'pontos_turisticos_editar' ponto.id %}">Editar</a> |
                    <form action="{% url 'deletar_ponto' ponto.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Deseja realmente deletar?');">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
            </article>
        </header>
    </section>

    <form method="POST" enctype="multipart/form-data" class="form_to_add_pontos" style='display: block; background:aliceblue'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>

    <script src="../../static/scripts/pontos_turisticos.js"></script>
</body>
</html>