:root {
    --primer_color: white;
    --color_body: aliceblue;
    --barra_navegacao: rgb(0, 42, 76);
    --hover_li: rgb(46, 83, 112);
}

body {
    padding: 0;
    margin: 0;
    background: var(--color_body);
    overflow: hidden;
}

/* Menu(barra de navegacao)*/

section {
    display: flex;
}

section nav {
    background: var(--barra_navegacao);
    height: 100pc;
    width: 20pc;

}

section nav div {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1pc;
    color: aliceblue;
}

section nav div p {
    padding: 2%;
    border-radius: 5px;
    background: wheat;
    color: var(--barra_navegacao);
}

section nav ul {
    margin-top: 4pc;
    width: 100%;
    padding: 0;
}

section nav ul a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

section nav ul a li {
    list-style-type: none;
    display: flex;
    gap: 1pc;
    color: var(--color_body);
    padding: 1pc;
    border-radius: 20px;
    width: 50%;
    transition: all .5s ease;
}

section nav ul a:nth-child(3) {
    background: var(--hover_li);
}

section nav ul a:nth-child(2),
a:nth-child(3) {
    margin-top: 5pc;
}

section nav ul a li:hover {
    background: var(--hover_li);
}

/* Tratando da header */

section header {
    padding: 2pc;
    width: 100%;
}

section header aside {
    background: var(--primer_color);
    width: 100%;
    height: 4pc;
    padding: 1%;
    border-radius: 2pc;
}

section header aside h2 {
    margin-left: 2%;
}

section header aside div {
    display: flex;
    justify-content: flex-end;
    margin-top: -4pc;
    align-items: center;
    gap: 1.5%;
    margin-right: 2%;
}

section header article h1{
    display: flex;
    align-items: center;
    gap: 1%;
}
section header article div{
    display: flex;
    justify-content: end;
}

/* Select ativo ou inativo?*/

section header article fieldset{
    background: var(--primer_color);
    border-radius: 15px;
    padding: 2%;
    margin-top: 1pc;
    border: none;
}

section header article fieldset table{
    width: 100%;
}

section header article fieldset table tbody tr td{
    border-top: .5px solid black;
    margin-top: 2pc;
    height: 4pc;
    text-align: center;
    transition: all .5s ease-in-out;
}

section header article fieldset table tbody tr:hover{
    scale: 1.01;
    transform: translatey(-1%);
}

section header article fieldset table tbody tr:last-child{
    border-bottom: 2px solid black;
}

section header article fieldset table tbody td select{
    background: green;
    color: aliceblue;
    cursor: pointer;
}

section header article table tbody td select.inativo {
    background: red;
    color: aliceblue;
}

section header article table tbody td select.ativo {
    background: green;
    color: aliceblue;;
}

section header article table tbody td select option#ativo {
    background: green;
    color: aliceblue;
}

section header article table tbody td select option#inativo{
    background: red;
    color: aliceblue;
}
